input[type=button] {
    @include inputButton;
    transition: box-shadow 0.5s ease-in-out, color 300ms ease-in-out;
}
input[type=button]:hover,
input[type=button]:focus {
    color: #fff;
    box-shadow: 0 0 30px 30px $styleColor inset;

}

#timer {
    border-radius: 10px;
    background-color: $styleColor;
        span {
        align-items: center;
        font-size: 5rem;
        color: #ffff;
    }
}
.containerOfLists {
    margin: 40px auto;

}
#amount {
    display: inline-block;
    font-size: 2rem;
    font-family: $secondFont;
    box-shadow: inset 0 -0.5em 0 rgba(162, 94, 189, 0.3);
    transition: box-shadow .2s ease-in-out;
}
#timerCountDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#controls button {
    margin: 10px;
    padding: 20px;
}