#listOfWorkout {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;
}
#image {
	display: none;
}
li {
    list-style-type: none;
	cursor: pointer;
	position: relative;
	font-size: 1.5rem;
	font-family: $secondFont;
	padding: 20px;
}

li:hover,
li:focus  {
	background: rgba(233, 155, 243, 0.1);

}

li::before {
			content: "";
			position: absolute;
			top: 100%;
			background: rgba($decoColor, 0.6);
			height: 2px;
			width: calc(100% - 40px);
}

// Time Clock Styling section
.timerContainer {
	background-color: $bgColor;
	color: black;
	font-family: $secondFont;
	font-weight: 200;
	text-align: center;
}

#clock-button,
#reset {
	background-color: transparent;
	border: 2.5px solid $styleColor;
	border-radius: 5px;
	outline: none;
	color: black;
	font-size: 1.3em;
	padding: 10px;
}
#reset:disabled {
	color: black;
}

#clock-container {
	margin: 100px auto;
	border: 10px solid;
	border-color: $styleColor;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	display: table;
	overflow: hidden;
	position: relative;
}

#clock-content {
	display: table-cell;
	vertical-align: middle;
	background: radial-gradient(#faf7ff 30%, rgb(134, 198, 199) 70%);
	transition: background 4s ease-in-out;
}


#clock-counter {
	font-size: 5em;
	text-align: center;
	margin: auto;
}

#clock-container > button {
	border: none;
	background-color: transparent;
	color: black;
	font-size: 1em;
	min-width: 95px;
}




