.mainWorkoutSection {
	margin: 0 auto;
	position: relative;
    padding-bottom: 1.5rem;
    display: flex;
}

#listOfWorkout {
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    scrollbar-color: $styleColor $decoColor;
    scrollbar-width: auto;
}

li {
    list-style-type: none;
	cursor: pointer;
	position: relative;
	font-size: 1.5rem;
	font-family: $secondFont;
	padding: 20px 0;
}

li:hover,
li:focus {
	background: rgba(233, 155, 243, 0.1);
}
li:not(:last-child)::before {
			content: "";
			position: absolute;
			top: 100%;
			background: rgba($decoColor, 0.6);
			height: 2px;
			width: calc(100% - 40px);
}

// Time Clock Styling section
.timerContainer {
	background-color: $bgColor;
	color: black;
	font-family: $secondFont;
	font-weight: 200;
	text-align: center;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	color: black;
	font-size: 1.3em;
}

button:disabled {
	color: rgba($styleColor, 0.6);
}

#clock-container {
	margin: 30px 30px 30px auto;
	border: 2px solid;
	border-color: $styleColor;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	display: table;
	overflow: hidden;
	position: relative;
}

#clock-content {
	display: table-cell;
	vertical-align: middle;
}

#clock-counter {
	font-size: 5em;
	text-align: center;
	margin: auto;
}

#clock-container > button {
	border: none;
	background-color: transparent;
	color: black;
	font-size: 1em;
	min-width: 95px;
}




