html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes border {
  0% {
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
  25% {
    background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
  }
  50% {
    background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
  }
  75% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
  }
  100% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  }
}

@keyframes border {
  0% {
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
  25% {
    background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
  }
  50% {
    background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
  }
  75% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
  }
  100% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  }
}

.content {
  width: 45%;
  margin: 2rem auto;
  padding: 2em;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #cc8e7f), to(#cc8e7f)), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #cc8e7f), to(#cc8e7f)), -webkit-gradient(linear, left top, right top, color-stop(100%, #cc8e7f), to(#cc8e7f)), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #cc8e7f), to(#cc8e7f));
  background-image: linear-gradient(to right, #cc8e7f 100%, #cc8e7f 100%), linear-gradient(to bottom, #cc8e7f 100%, #cc8e7f 100%), linear-gradient(to right, #cc8e7f 100%, #cc8e7f 100%), linear-gradient(to bottom, #cc8e7f 100%, #cc8e7f 100%);
  background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  -webkit-animation: border 4s;
          animation: border 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.content,
.imageContent {
  margin: 50px;
}

.content p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
}

.startBtn {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  background: #cc8e7f;
  border: 1px solid #333333;
  border-radius: 15px;
  padding: 10px;
}

.startBtn:hover,
.startBtn:focus {
  background-color: #F8F7FF;
}

a {
  color: black;
  text-decoration: none;
}

.banner {
  background-color: #EEE5E9;
}

#down {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

form h2 {
  text-align: center;
}

input[type=button] {
  background-color: transparent;
  border: 2px solid #6C4B5E;
  border-radius: 15px;
  color: #6C4B5E;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
  padding: 20px 40px;
  text-transform: uppercase;
  font-family: "Shadows Into Light", cursive;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 0.5s ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  margin-top: 40px;
}

input[type=button]:hover,
input[type=button]:focus {
  color: #fff;
  -webkit-box-shadow: 0 0 30px 30px #6C4B5E inset;
          box-shadow: 0 0 30px 30px #6C4B5E inset;
}

.containerOfLists {
  margin: 40px auto;
}

.swal2-modal {
  background-color: #EEE5E9;
  border: 3px solid white;
  font-family: "Lato", sans-serif;
}

#amount {
  display: inline-block;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  -webkit-box-shadow: inset 0 -0.5em 0 rgba(162, 94, 189, 0.3);
          box-shadow: inset 0 -0.5em 0 rgba(162, 94, 189, 0.3);
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.flexTimer {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popUp {
  text-align: center;
  background-color: #6C4B5E;
  -webkit-box-shadow: 20px 10px 5px #6C4B5E;
          box-shadow: 20px 10px 5px #6C4B5E;
  color: #ffff;
  font-family: "Lato", sans-serif;
  padding: 5%;
  display: none;
  position: relative;
  bottom: 10%;
}

.popUp h2 a {
  text-decoration: underline;
  color: #ECBEB4;
}

#listOfWorkout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
}

#image {
  display: none;
}

li {
  list-style-type: none;
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  padding: 20px;
}

li:hover,
li:focus {
  background: rgba(233, 155, 243, 0.1);
}

li::before {
  content: "";
  position: absolute;
  top: 100%;
  background: rgba(236, 190, 180, 0.6);
  height: 2px;
  width: calc(100% - 40px);
}

.timerContainer {
  background-color: #F8F7FF;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  text-align: center;
}

#clock-button,
#reset {
  background-color: transparent;
  border: 2.5px solid #6C4B5E;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1.3em;
  padding: 10px;
}

#reset:disabled {
  color: black;
}

#clock-container {
  margin: 100px auto;
  border: 10px solid;
  border-color: #6C4B5E;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: table;
  overflow: hidden;
  position: relative;
}

#clock-content {
  display: table-cell;
  vertical-align: middle;
  background: radial-gradient(#faf7ff 30%, #86c6c7 70%);
  -webkit-transition: background 4s ease-in-out;
  transition: background 4s ease-in-out;
}

#clock-counter {
  font-size: 5em;
  text-align: center;
  margin: auto;
}

#clock-container > button {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1em;
  min-width: 95px;
}

footer {
  background-color: #cc8e7f;
}

.awesome {
  font-size: 2.5rem;
  padding: 20px;
}

.awesome:hover,
.awesome:focus {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #6C4B5E, 0 0 30px #6C4B5E, 0 0 40px #6C4B5E, 0 0 60px #6C4B5E, 0 0 50px #6C4B5E;
}

footer p {
  margin: 0 auto;
  padding: 20px;
  font-size: 2rem;
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
}

.footerContent {
  margin: 0;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 800px) {
  .flexContainer,
  .flexTimer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content {
    background-image: none;
  }
  .content,
  .imageContent {
    width: 100%;
    margin: 0;
    padding: 40px;
  }
  .mainWorkoutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bodyPartsWorkout {
    margin: 30px auto;
  }
  #listOfWorkout {
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
  }
  h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 420px) {
  input[type=button] {
    padding: 10px 20px;
    width: 100%;
  }
  #clock-container {
    width: 310px;
    height: 310px;
  }
  h2 {
    text-align: center;
  }
  li {
    font-size: 1rem;
    padding: 5px;
  }
}

html,
body {
  font-size: 100%;
  background-color: #F8F7FF;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.wrapperContainer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 2rem;
  font-family: "Shadows Into Light", cursive;
  color: #6C4B5E;
  font-weight: 700;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0 auto;
  font-weight: 400;
}
